/* =========================================
   ORGANIZER LAYOUT
========================================= */

.organizer-layout {
  min-height: 100vh;

  display: flex;

  background: #f8f8fa;
}


/* =========================================
   SIDEBAR
========================================= */

.organizer-layout .organizer-sidebar {
  width: 230px;

  min-width: 230px;

  min-height: 100vh;

  position: fixed;

  top: 0;
  left: 0;

  z-index: 100;

  overflow-y: auto;
}


/* =========================================
   MAIN CONTENT
========================================= */

.organizer-main {
  width: calc(100% - 230px);

  min-height: 100vh;

  margin-left: 230px;
}